$contact-bg: '../../assets/Contact Bg.png';

.contact{
    @media (min-width: 1250px){
        position: relative;
        width: 100%;
        height: 90vh;

        position: relative;
        background-image: url($contact-bg);
        background-position: top center;
        background-size: cover;

        padding-top: 200px;
    }
}

.contact::before{

    @media(min-width:1250px){
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255,255,255, 0.55);
    }
}


.contact__container{
    display: none;
    @media(min-width:1250px){
        display: block;
        margin-left: auto;
        position: relative;
        text-align: center;
        width: 45%;
        color: $color-black;
        padding-inline: 50px;
    }
}

.contact__title{
    padding-bottom: 10px;
}

.contact-form{
    min-height: 350px;
    padding-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;

    label{
        font-weight: bolder;
        color: $color-black;
        font-size: 1rem; 
        text-align: left;
    }
}

.form__small-inputs{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form__label{
    width: 45%;
}

.form__input{
    display: block;
    width: 100%;
    font-size: 1.1rem;
    background-color: transparent;
    padding: 5px;
    border: none;
    border-bottom: 1px solid $color-grey;
}

.label--message{
    width: 100%;

    input,textarea{
        display: block;
        width: 100%;
        font-family: $font-base;
        font-size: 1rem;
        resize: none;
    }
}

.button--form{
    align-self: flex-end;
}


