$give-hero-bg: '../../assets/GiveHeroBg.png';

.hero--give{
    padding: 0;
}

.left--give{
    background-image: url($give-hero-bg);
}

.give-hero__description{
    font-size: 1.6rem;
    margin-top: 20px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 20px;

    @media(min-width: 550px){
        font-size: 2rem;
    }

    @media(min-width: 1250px){
        margin-top: 0;
        margin-bottom: 20px;
    }
}

.give-hero__title{
    padding-top: 100px;
    padding-bottom: 60px;
}

.give-hero__boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media(min-width: 1250px){
        padding-top: 20px;
        padding-left: 50px;
    }

    @media(min-width: 1250px) {
        display: block;
    }
}

.give-hero__box{
    position: relative;
    display: inline-block;
    padding-top: 10px;
    width: 25%;
    height: 130px;
    text-align: center;

    @media(min-width: 1550px){
        width: 180px;
        height: 180px;
    }

    &::after{
        content: '';
        top: 0;
        left: 0;
        transform: translate(10%,0%) rotate(45deg);
        position: absolute;
        width: 150px;
        height: 150px;
        border: 1px solid $color-black;

        @media(max-width: 1550px){
            display: none;
        }
    }

    p{
        font-size: 1rem;
        font-weight: lighter;
        width: 100%;

        @media(min-width: 550px){
            font-size: 1.4rem;
        }
        
        &:first-child{
            font-size: 2rem;
        }
    }
}
