$bg-img: "../../assets/HeroImage.png";

.hero__main{
    display: flex;

    @media(min-width: 1250px){
        padding-top: 50px;
    }
}

.main__left{
    display: none;
    background-image: url($bg-img);
    background-position: top right;
    background-size: cover;
    height: 800px;

    @media(min-width: 1250px){
        display: block;
        width: 40%;
    }

    @media(min-width: 1650px){
        width: 50%;
    }
}

.main__right{
    width: 100%;

    @media(min-width: 1250px){
        width: 60%;
        padding-right: 100px;
    }

    @media(min-width: 1650px){
        width: 50%;
    }
}

.hero__description{
    display: none;

    @media(min-width: 1250px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 10rem 0;
    }
}

.hero__description--mobile{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;

    width: 100%;
    padding: 25px;
    padding-bottom: 75px;
    background-color: $color-grey;
    text-align: center;

    @media(min-width: 1250px){
        display: none;
    }
}

.hero__title{
    font-size: 2.375rem;
}

.hero__title--mobile{
    font-size: 1.5rem;
    color: $color-yellow;
}

.hero__button-box{
    margin-top: 60px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hero__stats--mobile{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.hero__stat{
    width: 160px;

    div{
        background-color: $color-white;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        border: 5px solid $color-yellow;

       display: flex;
       align-items: center;
       justify-content: center;

       color: $color-black;
       font-size: 2rem;
       font-weight: bolder;
    }

    p{
        margin-top: 15px;
        color: $color-white;
        font-weight: bolder;
    }
}

.hero__button-box--mobile{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}