$bg-img: "../../assets/HeroImage.png";

.hero__main{
    display: flex;

    @media(min-width: 1250px){
        padding-top: 50px;
    }
}

.main__left{
    display: none;
    background-image: url($bg-img);
    background-position: top right;
    background-size: cover;
    height: 800px;

    @media(min-width: 1250px){
        display: block;
        width: 40%;
    }

    @media(min-width: 1650px){
        width: 50%;
    }
}

.main__right{
    width: 100%;

    @media(min-width: 1250px){
        width: 60%;
        padding-right: 100px;
    }

    @media(min-width: 1650px){
        width: 50%;
    }
}

.hero__description{
    display: none;

    @media(min-width: 1250px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 15rem 0;
    }
}

.hero__title{
    font-size: 2.375rem;
}

.hero__button-box{
    margin-top: 60px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}