.simple-steps{
    display: none;
    
    @media(min-width: 1250px){
        display: block;
        width: 100%;
        text-align: center;
        padding-block: 50px;
    }
}

.steps__title{
    font-size: 2.375rem;
    color: $color-black;
    padding-bottom: 25px;
}

.steps__box{
    min-height: 300px;
    width: 100%;
    background-color: $color-grey-opacity;
    padding-block: 25px;
    margin-block: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.step{
    width: 150px;
    height: 200px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.step__title{
    font-size: 1.125rem;

    &::after{
        content: '';
        display: block;
        width: 50px;
        height: 1px;
        background-color: $color-black;
        color: $color-black;
        margin: 0 auto;
        margin-top: 5px;
    }
}

.step__description{
    font-size: 1rem;
    color: $color-black;
}

.simple-steps--mobile{
    width: 100%;
    text-align: center;
    padding: 50px;
    font-size: 1rem;
    font-weight: bolder;

    @media(min-width: 1250px){
        display: none;
    }
}

.steps__title--mobile{
    font-size: 2.5rem;
    color: $color-black;
}

.steps__box--mobile{
    width: 100%;
    padding-top: 30px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.step--mobile{
    width: 100px;
}

.step__description--mobile{
    margin-top: 10px;
}

