$stepper-form-bg: '../../assets/StepperFormBg.png';

.stepper{
    .button{
        background-color: transparent;
        font-family: $font-base;
        text-transform: capitalize;
    }

    @media(min-width: 1250px){
        background-color: $color-grey-opacity;
    }
}

.stepper__header{
    background-color: $color-yellow;
    width: 100%;
    padding: 25px;

    @media(min-width: 750px){
        padding: 40px 80px;
    }

    span{
        display: block;
        font-weight: bolder;
        font-size: 1.5rem;

        @media(min-width: 750px){
            font-size: 2rem;
        }
    }
}

.stepper__container{
    width: 100%;
    padding: 25px 25px 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media(min-width: 750px){
        padding: 20px 50px;
    }

    @media(min-width:1250px){
        background-image: url($stepper-form-bg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        min-height: 75vh;
    }
}

.stepper__current-step{
    font-size: 1rem;
    padding-bottom: 20px;
}

.stepper__buttons{
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding-top: 10px;

    @media(min-width: 1250px){
        width: 50%;
    }
}

.stepper__form{
    width: 100%;
    height: 80%;

    @media(min-width: 1250px){
        width: 60%;
    }
}

.stepper__step{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 100%;
}

.step--6{
    height: 550px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

  div{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

    h3{
        font-size: 1.5rem;
        text-align: center;
        font-weight: lighter;

        @media (min-width:750px) {
            font-size: 2.2rem;
            width: 600px;
        }
    }
}


.stepper-form__title{
    width: 100%;
    color: $color-black;
    font-size: 1.5rem;
    font-weight: bolder;

    @media(min-width: 750px){
        font-size: 2.25rem;
    }
}

.step-help__boxes{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    input.button{
        text-transform: lowercase;
    }
}

.stepper__step-description{
    color: $color-black;
    padding-top: 20px;
    font-size: 1.3rem;
    font-weight: bolder;

    @media (min-width:750px){
        font-size: 1.5rem; 
    }
}

.step__last-box{
    display: flex;
    flex-direction: column;


    @media(min-width: 850px) {
        flex-direction: row;
        justify-content: flex-start;
        gap: 50px;
    }

    @media(min-width: 1250px) {
        justify-content: space-between;
    }
}

.last-box--summary{
    @media(max-width: 1249px) {
        gap: 25%;
    }
}


.step__address, .step__term{
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (min-width:850px) {
        gap: 20px;
    }
}

.stepper__summary-line{
    text-align: left;
    font-size: 1rem;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    @media(min-width: 750px){
        gap: 40px;
        font-size: 1.4rem;
    }
}

.summary-line--first{
    width: 90%;
    justify-content: flex-start;

    @media(min-width: 750px){
        width: 50%;
    }
}

.summary-line--last{
    align-items: flex-start;
}

input.button.button--small.stepper__selected-btn{
    background-color: $color-yellow;
}