$stepper-form-bg: '../../assets/StepperFormBg.png';

.stepper{
    background-color: $color-grey-opacity;

    .button{
        background-color: transparent;
        font-family: $font-base;
        text-transform: capitalize;
    }
}

.stepper__header{
    background-color: $color-yellow;
    width: 100%;
    padding: 25px 50px;

    span{
        display: block;
        font-weight: bolder;
        font-size: 2rem;
    }
}

.stepper__container{
    width: 100%;
    height: 85vh;
    padding: 25px 50px;
    background-image: url($stepper-form-bg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stepper__current-step{
    font-size: 1rem;
    padding-bottom: 20px;
}

.stepper__buttons{
    margin-top: auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.stepper__form{
    width: 60%;
    height: 80%;
}

.stepper__step{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 100%;
}

.stepper-form__title{
    width: 100%;
    color: $color-black;
    font-size: 2.25rem;
    font-weight: bolder;
}

.step-help__boxes{
    width: 90%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    input.button{
        padding: 15px 60px;
        text-transform: lowercase;
    }
}

.stepper__step-description{
    color: $color-black;
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.step__last-box{
    display: flex;
    justify-content: space-between;

    label{
        font-size: 1.2rem;
        font-weight: lighter;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    .label--notes{
        align-items: flex-start; 
    }
}


.step__address, .step__term{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stepper__summary-line{
    text-align: left;
    font-size: 1.4rem;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.summary-line--first{
    width: 50%;
    justify-content: flex-start;
}

.summary-line--last{
    align-items: flex-start;
}

input.button.button--small.stepper__selected-btn{
    background-color: $color-yellow;
}