.button{
    display: inline-block;
    text-decoration: none;
    color: $color-black;
    border: 1px solid $color-black;

    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
}

.button--mobile{
    display: block;
    width: 130px;
    padding: 15px;
    color: $color-white;
    background-color: $color-yellow;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder;
}

.button--big{
    font-size: 2rem;
    width: 330px;
    padding-block: 0.8rem;
}

.button--middle{
    text-transform: capitalize;
    font-family: $font-base;
    font-weight: normal;
    font-size: 0.8rem;
    padding-block: 1rem;
    padding-inline: 4rem;
    color: $color-black;
    background-color: $color-white;
    border: 1px solid $color-black;
}

.button--small{
    background-color: transparent;
    border: 1px solid transparent;
    font-family: $font-base;
    font-size: 1.1rem;
    font-weight: lighter;
    color: $color-black;
    text-transform: capitalize;
}


input.button--small{
    border: 1px solid $color-black;
    padding: 5px 20px;
}